p{
text-align: center;
}

#banner {
width: 100%;
}

body{


}


.itens{
font-style: italic;


}
.beneficios{
    background:rgba(68, 66, 66, 0.8)
}

.principal{
    background:rgba(255, 255, 255, 0.8)
}